<div class="section-contents">
  <h1> Download </h1>
</div>
<div class="download-section">
  <div class="download-buttons">
    <a class="download-btn" href="{{ site.atom }}"><i class="devicon-atom-original icon"></i>&nbsp;Atom.io</a>
    <a class="download-btn copy-btn tooltip" href="#" title="apm install atomic-monokai-pro-syntax"><i class="fa fa-terminal icon"></i>&nbsp;apm install</a>
    <a class="download-btn" href="{{ site.github }}"><i class="devicon-github-original icon"></i>&nbsp;GitHub</a>
  </div>
</div>
