<div class="section-contents">
  <h1>Features</h1>
</div>
<div class="project-features">
  <div class="contents">
    <h3>Focus on Substance</h3>
    <p>This syntax-theme features modifications to better emphasize crucial aspects of your code, while allowing more trivial syntax to fade into the background. In turn, allowing for easier and more effective analysis and visual-grepping.</p>
    <a class="feature-link" href="{{ site.atom }}">Check it out</a>
  </div>
  <div class="images-right image-container">
    <img alt="syntax-zoom" src="{{ '/assets/img/zoom.png' | prepend: site.baseurl }}"/>
  </div>
</div>
<div class="project-features">
  <div class="images-left image-container">
    <img alt="file-tree" src="{{ '/assets/img/tree.png' | prepend: site.baseurl }}"/>
  </div>
  <div class="contents right">
    <h3>Language-specific</h3>
    <p>The stylesheets of this syntax-theme are structured to ensure individual attention can be given to providing accurate highlighting for each supported language.</p>
    <a class="feature-link" href="{{ site.github }}">Check it out</a>
  </div>
</div>
