<div id="banner">
  <a href="{{ site.github }}"><img style="position:absolute; top:0; right:0; border:0; z-index:999" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
  <div class="header">
    <h1><span class="site-title">{{site.title}}</span></h1>
    <img class="animated mockup slideInUp" src="./assets/img/mockup.png"/>
  </div>
  <a class="down scroll-btn" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
