.footer {
  background: $syntax-bg;
  color: rgba(#fff, 0.85);
  text-align: center;
  min-height: 10vh;
  margin-top: 100px;
  padding: 20px 0;
  .fa-code::before {
    color: $syntax-blue;
  }
  .love {
    color: #ef6d6d;
  }
  
  p {
    margin-top: 2em;
  }
  
  a {
    color: rgba(#fff, 0.95);
    text-decoration: none;
    margin: 0;
    &:hover{
      color: $accent;
    }
    &:active {
      color: $accent;
    }
  }
}
