#about {
  width: 85%;
  max-width: 960px;
  margin: auto;
  margin-top: 0 !important;
  @media only screen and (min-width: $cut) {
    width: 75%;
  }
}

.tech {
  margin: 10px;
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    font-size: 18px;
    margin-top: 0.5em;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.color-palette {
  display: block;
  width: 95%;
  text-align: center;
  vertical-align: middle;
  margin: 2.2em auto 0;
}

.color-item {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  box-shadow: 0 1px 2px rgba(#000, 0.75);
  margin: 10px;
  &:hover {
    box-shadow: 0 1px 3px rgba(#000, 0.85);
    transform: scale(1.05);
    transition: all 300ms ease-in-out, box-shadow 400ms ease-in-out;
    > .color-value {
      transition: all 400ms ease-in-out;
      opacity: 1;
    }
  }
  .color-value {
    position: relative;
    font-size: 85%;
    top: 115%;
    text-align: center;
    vertical-align: middle;
    opacity: 0;
    transition: all 350ms ease-in-out;
  }
}

.section-contents {
  text-align: center;
  margin: 0 auto;
  h1 {
    letter-spacing: 0.015em;
  }
  p {
    font-size: 1.025em;
    width: 90%;
    margin: auto;
  }
}
