#features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.project-features {
  margin: 20px auto 30px;
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  h5 {
    margin: 0;
  }
  li {
    color: fade($syntax-bg, 50%);
    font-size: 1.1rem;
  }
  p {
    margin-right: 5px;
  }
}

.contents {
  width: 48%;
  margin-top: -6%;
  h3 {
    margin-top: 1em;
    margin-bottom: 0.75em;
  }
  @media only screen and (min-width: $cut) {
    float: left;
    // margin-left: 0;
  }
  &.right {
    @media only screen and (min-width: $cut) {
      float: right;
    }
  }
}

.image-container {
  @media only screen and (min-width: $cut) {
    width: 48%;
    max-height: 245px;
    border-radius: 12px;
    overflow: hidden;
  }
}

.images-right {
  @media only screen and (min-width: $cut) {
    float: right;
  }
  img {
    @media only screen and (min-width: $cut) {
      float: right;
    }
  }
}

.images-left {
  @media only screen and (min-width: $cut) {
    float: left;
  }
  img {
    @media only screen and (min-width: $cut) {
      float: left;
    }
  }
}

.feature-link {
  display: block;
  background-color: transparent;
  color: $syntax-bg;
  text-align: center;
  text-decoration: none;
  width: 100px;
  border: 2px solid $syntax-mono;
  border-radius: 12px;
  margin: 18px 0 10px;
  padding: 5px 8px;
  outline: none;
  cursor: pointer;
  transition: color 0.3s ease-out,
              background-color 0.3s ease-out,
              border-color 0.3s ease-out;
  &:hover, &:active {
    background-color: $syntax-mono;
    color: #fff;
    border-color: darken($syntax-mono, 10%);
    text-shadow: 0 1px 2px $syntax-bg;
    transition: background-color 0.3s ease-in-out,
                color 0.3s ease-in-out,
                border-color 0.3s ease-in-out,
                text-shadow 0.35s ease-in-out;
  }
}
