#banner {
  display: flex;
  position: relative;
  background: $main;
  width: 100%;
  min-height: 100vh;
  vertical-align: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translate(0); }
  40% { transform: translateY(-30px); }
  60% { transform: translateY(-15px); }
}

.header {
  position: absolute;
  color: $syntax-bg;
  text-align: center;
  top: 42%;
  left: 50%;
  width: 95% !important;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  z-index: 1;
  h1 {
    width: 60% !important;
    margin: 1em auto 0.55em;
    padding-top: 0 !important;
  }
  .site-title {
    display: block;
    color: $syntax-bg;
    font-size: 40px;
    line-height: 1;
    @media only screen and (min-width:$cut) {
      font-size: 8vw;
      margin: 0;
    }
  }
  .site-description {
    display: block;
    color: $syntax-bg;
    font-size: 20px;
    line-height: 1;
    margin-top: 10px;
    @media only screen and (min-width:$cut) {
      font-size: 40px;
    }
  }
  img {
    width: 85%;
    height: auto;
    margin:1em auto 0;
  }
}

.header-links {
  margin: 10px;
  .link {
    color: $syntax-bg;
    text-decoration: none;
    font-size: 15px;
    margin: 10px;
    @media only screen and (min-width:$cut) {
      font-size: 20px;
    }
  }
}

.header-icons {
  display: flex;
  text-align: center;
  justify-content: center;
  .icon {
    color: $syntax-bg;
    font-size: 20px;
    text-align: center;
    width: 20px;
    height: 20px;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    border: 2px solid $syntax-bg;
    transition: all .7s;
    &:hover {
      background: $syntax-bg;
      color: $main;
    }
    &:active {
      background: $syntax-bg;
      color: $main;
    }
    @media only screen and (min-width:$cut) {
      font-size: 35px;
      width: 35px;
      height: 35px;
    }
  }
}

@keyframes octocat-wave {
  0%,100% { transform: rotate(0); }
  20%,60% { transform: rotate(-25deg); }
  40%,80% { transform: rotate(10deg); }
}

.github-corner {
  &:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
  @media(max-width:500px) {
    .octo-arm {
      animation: none;
    }
    &:hover .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }
}

.scroll-btn {
  display: block;
  position: absolute;
  color: rgba($syntax-bg, 0.75);
  font-size: 40px;
  text-align: center;
  bottom: 65px;
  width: 100%;
  margin: 0 auto;
  cursor: pointer;
  .icon {
    position: absolute;
    top: 50%;
    left: 48.5%;
    fill: $syntax-bg;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    animation: bounce 2s infinite;
    &:hover, &:active  {
      color: $syntax-magenta;
      transform: none;
      animation: none;
    }
  }
}
